@import '../colors';

.rc_login,
.rc_register {
  width: 500px;
  position: relative;
  margin: auto;
  margin-top: 8%;

  form {
    padding: 24px 32px 0px 32px;
    background-color: $white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    .header {
      text-align: center;
      span {
        font-weight: bold;
        font-size: 18px;
        color: $light-blue;
      }
    }
    .bottom-group {
      margin-bottom: 0px;
      span {
        font-size: 13px;
      }
      a {
        display: inline-block;
        padding-right: 0px;
      }
    }
    .form-check-label {
      font-size: 13px;
    }

    .error {
      color: $red;
      font-size: 12px;
      padding: 4px 0px 0 4px;
      position: absolute;
      right: 32px;
    }
    label.required:after {
      content: '*';
      color: $red;
    }

    // .mandatory{
    // //  border:1px solid $red;
    // }
  }
}
